@media (max-width: 1790px) {

    .carousel-item {
        flex: 1 0 50%;
        /* 화면이 작아질 경우 2개 표시 */
    }

    .carousel-pic {
        width: 100%;
        /* 부모와 동일한 가로 크기 */
        height: 580px;
        /* 부모와 동일한 세로 크기 */

    }
}


@media (max-width: 1400px) {

    .carousel-item {
        flex: 1 0 100%;
        /* 더 작아지면 1개 표시 */
    }
}


@media (max-width: 1320px) {

    .value-contents {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .value-img {
        max-width: 100%;
    }

    .value-img.growth {
        order: -1;
    }

    .value-article {
        align-self: flex-start;
        gap: 40px;
    }

    .value-article.growth {
        order: 1;
        align-self: flex-end;
    }

    .hover-text {
        font-size: 30px;
        line-height: 44px;
    }
}


@media screen and (max-width: 1024px) {

    .br-1024 {
        display: block;
    }

    .flowing-text {
        font-size: 50px;
    }

    .pursue-circle-box {
        height: 300px;
    }

    .count-circle {
        height: 200px;
    }

    :root {
        --svg1-size: 300;
        --svg2-size: 200;
        --svg1-stroke-width: 2;
        --svg2-stroke-width: 40;
    }

    .pursue-circle:nth-child(1) {
        transform: translateX(-250px);
    }

    .pursue-circle:nth-child(3) {
        transform: translateX(250px);
    }

    .count-img {
        width: 60px;
        height: 60px;
    }

    .count-type h2 {
        font-size: 28px;
    }

    .count-type p {
        font-size: 18px;
    }

    .circle-text {
        font-size: 36px;
    }

    .circle-text.count {
        font-size: 32px;
    }

    .practice-area {
        row-gap: 50px;
    }

    .practice-area article {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 866px) {

    #value-section,
    #practice-section,
    #output-section,
    #weare-section {
        padding: 100px 16px;
    }

    .section-title.value,
    .section-title.practice,
    .section-title.output,
    .section-title.weare {
        margin-bottom: 145px;
    }

    header {
        padding: 16px 16px;
    }

    .logo-main,
    .logo-main>svg {
        width: 125px;
    }

    .hamburger,
    .hamburger>svg {
        width: 40px;
    }

    .flowing-text {
        font-size: 40px;
    }

    .animated-circle {
        stroke-dasharray: 785;
        stroke-dashoffset: 785;
    }

    @keyframes draw {
        from {
            stroke-dashoffset: 785;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    .pursue-circle-box {
        height: 250px;
    }

    .count-circle {
        height: 170px;
    }

    :root {
        --svg1-size: 250;
        --svg2-size: 170;
        --svg1-stroke-width: 2;
        --svg2-stroke-width: 35;
    }

    .pursue-circle:nth-child(1) {
        transform: translateX(-200px);
    }

    .pursue-circle:nth-child(3) {
        transform: translateX(200px);
    }

    .pursue-introduce h2 {
        font-size: 24px;
    }
    
    .pursue-introduce p {
        font-size: 16px;
        line-height: 24px;
    }

    .value-contents {
        gap: 24px;
    }

    .value-article {
        gap: 24px;
    }

    .value-article-title {
        gap: 8px;
    }
    
    .value-article-title h2 {
        font-size: 32px;
    }
    
    .value-article-title p {
        font-size: 14px;
    }
    
    .value-article-text {
        font-size: 16px;
        line-height: 24px;
    }

    .practice-article-title {
        font-size: 36px;
    }

    .learn-more-btn{
        font-size: 14px;
    }

    .count-area {
        flex-direction: column;
        align-items: center;
        gap: 56px;
    }

    .count-content {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 14px;
    }

    .count-type {
        gap: 8px;
        width: 120px;
    }

    .circle-text {
        font-size: 28px;
    }

    .end-content-area {
        gap: 60px;
    }

    .logo-end {
        gap: 20px;
    }

    .logo-end-rect {
        width: 350px;
        height: 350px;
    }

    .logo-end-text {
        width: 360px;
    }

    .come-with-us {
        font-size: 32px;
        gap: 4px;
    }

    .contact {
        gap: 20px;
    }

    .contact h2 {
        font-size: 32px;
    }

    .address p {
        font-size: 16px;
        line-height: 24px;
    }
}


@media screen and (max-width: 681px) {

    .pursue-circle-box {
        height: 200px;
    }
    
    :root {
        --svg1-size: 200;
        --svg1-stroke-width: 1;
    }
    
    .pursue-circle:nth-child(1) {
        transform: translateX(-170px);
    }
    
    .pursue-circle:nth-child(3) {
        transform: translateX(170px);
    }

    .animated-circle {
        stroke-dasharray: 628;
        stroke-dashoffset: 628;
    }
    
    @keyframes draw {
        from {
            stroke-dashoffset: 628;
        }
    
        to {
            stroke-dashoffset: 0;
        }
    }

    .circle-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    
    .section-title.value,
    .section-title.practice,
    .section-title.output,
    .section-title.weare {
        margin-bottom: 120px;
    }

    .pursue-circle-box {
        height: 170px;
    }
    
    :root {
        --svg1-size: 170;
        --svg1-stroke-width: 1;
    }
    
    .pursue-circle:nth-child(1) {
        transform: translateX(-140px);
    }
    
    .pursue-circle:nth-child(3) {
        transform: translateX(140px);
    }

    .circle-text {
        font-size: 20px;
    }

    .pursue-area {
        gap: 70px;
    }

    .pursue-introduce {
        gap: 16px;
    }

    .pursue-introduce h2 {
        font-size: 20px;
    }

    .pursue-introduce p {
        font-size: 14px;
        line-height: 22px;
    }

    .hover-text {
        font-size: 24px;
        line-height: 36px;
    }

    #end-section {
        padding-top: 80px;
        padding-bottom: 36px;
    }

    .logo-end {
        gap: 16px;
    }

    .logo-end-rect {
        width: 230px;
        height: 230px;
    }

    .logo-end-text {
        width: 240px;
    }

    .come-with-us {
        font-size: 24px;
    }

    .contact {
        gap: 16px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .address p {
        font-size: 14px;
        line-height: 20px;
    }

    .copy {
        font-size: 12px;
    }
}

@media screen and (max-width: 487px) {
    .pursue-circle-box {
        height: 145px;
    }

    .count-circle {
        height: 130px;
    }
    
    :root {
        --svg1-size: 145;
        --svg2-size: 120;
        --svg1-stroke-width: 1;
        --svg2-stroke-width: 28;
    }
    
    .pursue-circle:nth-child(1) {
        transform: translateX(-120px);
    }
    
    .pursue-circle:nth-child(3) {
        transform: translateX(120px);
    }

    .animated-circle {
        stroke-dasharray: 456;
        stroke-dashoffset: 456;
    }
    
    @keyframes draw {
        from {
            stroke-dashoffset: 456;
        }
    
        to {
            stroke-dashoffset: 0;
        }
    }

    .circle-text {
        font-size: 18px;
    }

    .pursue-introduce {
        gap: 16px;
    }

    .pursue-introduce h2 {
        font-size: 18px;
    }

    .pursue-introduce p {
        font-size: 12px;
        line-height: 20px;
    }

    .practice-area {
        row-gap: 32px;
    }

    .practice-area article {
        gap: 10px;
    }

    .practice-article-title {
        font-size: 30px;
    }

    .learn-more-btn {
        font-size: 12px;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 40px;
        padding: 8px 20px;
        box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.3);
    }

    .hover-text {
        font-size: 20px;
        line-height: 28px;
    }

    .circle-text.count {
        font-size: 20px;
    }

    .count-img {
        width: 50px;
        height: 50px;
    }

    .count-type {
        gap: 8px;
        width: 100px;
    }

    .count-type h2 {
        font-size: 24px;
        font-weight: 600;
    }

    .count-type p {
        font-size: 16px;
    }

    .carousel-pic {
        height: 80%;
    }

    .prev-btn,
    .next-btn {
        top: 40%;
    }

    .carousel-text {
        font-size: 16px;
    }

    .dots {
        margin-top: -28px;
    }
}

@media screen and (max-width: 419px) {
    
    .br-419 {
        display: block;
    }

    .flowing-text {
        font-size: 32px;
    }

    .pursue-circle-box {
        height: 125px;
    }

    :root {
        --svg1-size: 125;
        --svg1-stroke-width: 1;
    }

    .pursue-circle:nth-child(1) {
        transform: translateX(-100px);
    }

    .pursue-circle:nth-child(3) {
        transform: translateX(100px);
    }

    .circle-text {
        font-size: 14px;
    }

    .animated-circle {
        stroke-dasharray: 392;
        stroke-dashoffset: 392;
    }

    @keyframes draw {
        from {
            stroke-dashoffset: 392;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    .pursue-area {
        gap: 50px;
    }

    .pursue-introduce {
        gap: 16px;
    }

    .pursue-introduce h2 {
        font-size: 18px;
    }

    .pursue-introduce p {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }

    .value-contents {
        gap: 16px;
    }

    .value-article {
        gap: 16px;
    }

    .value-article-title {
        gap: 8px;
    }

    .value-article-title h2 {
        font-size: 24px;
    }

    .value-article-title p {
        font-size: 12px;
        font-weight: 400;
    }

    .value-article-text {
        font-size: 14px;
        line-height: 22px;
    }

    .practice-article-title {
        font-size: 24px;
    }

    .hover-text {
        font-size: 18px;
        line-height: 24px;
    }

    .carousel-pic {
        height: 70%;
    }

    .dots {
        margin-top: -90px;
    }
}