@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

body {
    background-color: #000002;
}

#intro-section {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

#value-section,
#practice-section,
#output-section,
#weare-section {
    padding: 180px 32px;
}

#value-section {
    overflow: hidden;
}

#end-section {
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 32px;
    overflow: hidden;
    position: relative;
}

.section-container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-container.end {
    position: relative;
}

header {
    padding: 16px 32px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
}

.hamburger:hover path {
    fill: #616161;
}

.scrolled .hamburger:hover path {
    fill: #616161;
}

.logo-main,
.logo-main>svg {
    width: 150px;
}

.hamburger {
    display: block;
}

.hamburger,
.hamburger>svg {
    width: 40px;
}

.intro-video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.intro-video {
    width: 90vw;
    max-width: 800px;
    height: auto;
    max-height: 800px;
    object-fit: contain;
}

.flowing-text-area {
    position: absolute;
    bottom: 7%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 0;
    z-index: 50;
}

.flowing-text-area.end {
    position: relative;
}

.flowing-text-wrap {
    display: inline-flex;
    animation: flow 35s linear infinite;
}

.flowing-text-wrap.end>.flowing-text {
    color: #fff;
}

.flowing-text {
    margin-left: 1.5vw;
    flex-shrink: 0;
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}

@keyframes flow {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        /* 구형 브라우저 호환 */
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        /* 구형 브라우저 호환 */
        transform: translate3d(-50%, 0, 0);
    }
}

.section-title {
    width: 100%;
}

.section-title.weare {
    margin-bottom: 130px;
}

.section-title.value,
.section-title.practice,
.section-title.output {
    margin-bottom: 190px;
}

.section-title-img {
    width: 100%;
    max-width: 693px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 693 / 74;
}

.section-title.weare .section-title-img {
    background-image: url(../img/title_weare.svg);
}

.section-title.value .section-title-img {
    background-image: url(../img/title_value.svg);
}

.section-title.practice .section-title-img {
    background-image: url(../img/title_practice.svg);
}

.section-title.output .section-title-img {
    background-image: url(../img/title_output.svg);
}

.pursue-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 97px;
}

.pursue-circle-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 360px;
}

.pursue-circle {
    position: absolute;
    height: 100%;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}


:root {
    --svg1-size: 360;
    --svg2-size: 270;
     /* 기본 뷰박스 크기 */
    --svg1-stroke-width: 3;
    --svg2-stroke-width: 50;
     /* animate-circle의 stroke-width 초기값 */
}

.animated-circle {
    stroke-dasharray: 1131; /* 원 둘레: 2 * π * r (r=180) */
    stroke-dashoffset: 1131; /* 초기값: 원이 보이지 않음 */
    animation: draw 1.5s linear forwards;
    transform: rotate(-90deg); /* 시작 지점을 위쪽(12시 방향)으로 설정 */
    transform-origin: center;
}

.animated-circle.count {
    animation: draw 2.5s linear forwards;
}

.animated-circle.circle-1 {
    animation-delay: 0s;
}

.animated-circle.circle-2 {
    animation-delay: 0.5s;
}

.animated-circle.circle-3 {
    animation-delay: 1s;
}

.pursue-circle-box.draw-start .animated-circle {
    animation-play-state: running;
}

.pursue-circle-box:not(.draw-start) .animated-circle {
    animation: none;
    /* 뷰에서 벗어나면 초기화 */
}

.count-area.draw-start .animated-circle {
    animation-play-state: running;
}

.count-area:not(.draw-start) .animated-circle {
    animation: none;
    /* 뷰에서 벗어나면 초기화 */
}

@keyframes draw {
    from {
        stroke-dashoffset: 1131;
        /* 원이 감춰진 상태 */
    }

    to {
        stroke-dashoffset: 0;
        /* 원이 완전히 그려진 상태 */
    }
}

.pursue-circle:nth-child(1) {
    transform: translateX(-300px);
}

.pursue-circle:nth-child(2) {
    transform: translateX(0);
}

.pursue-circle:nth-child(3) {
    transform: translateX(300px);
}

.pursue-introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.pursue-introduce h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.pursue-introduce p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 26px;
    color: #ffffffd2;
}

.value-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.value-contents {
    display: flex;
    align-items: center;
    gap: 120px;
    width: 100%;
}

.value-contents.growth {
    justify-content: flex-end;
}

.value-img {
    width: 100%;
    max-width: 60%;
    aspect-ratio: 1120 / 609;
    height: auto;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.value-img.learning {
    background-image: url(../img/value1.jpg);
}

.value-img.growth {
    background-image: url(../img/value2.jpg);
}

.value-img.experience {
    background-image: url(../img/value3.jpg);
}

.value-article {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.value-article-title {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.value-article-title h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FF1493;
}

.value-article-title p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffffd2;
}

.value-article-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #fff;
}

.value-article-title.growth,
.value-article-text.growth {
    text-align: right;
}

.practice-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 32px;
}

.practice-area article {
    flex: 1 1 48%;
    max-width: 918px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.practice-article-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.practice-article-title {
    font-size: 40px;
    font-weight: bold;
    color: #FF1493;
    pointer-events: none;
    transition: all 0.5s ease;
}

.practice-article-title-wrap:hover .practice-article-title {
    color: #FFF;
}

.learn-more-btn{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px 24px;
    width: auto;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.3);
}

.learn-more-btn:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.practice-area figure {
    width: 100%;
    height: auto;
    aspect-ratio: 918 / 596;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    overflow: hidden;
}

.practice-area figure:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.practice-area video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hover-text {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
    line-height: 56px;
    transition: opacity 1s;
    pointer-events: none;
}

.practice-area figure:hover + .hover-text {
    opacity: 1;
}

.painting figure {
    background-image: url(../img/prac-painting.jpg);
}

.sculpture figure {
    background-image: url(../img/prac_sculpture.jpg);
}

.output-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.count-area {
    display: flex;
    justify-content: center;
    gap: clamp(16px, 10vw, 100px);
}

.count-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.count-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.count-type h2 {
    font-size: 32px;
    font-weight: 600;
    color: #FF1493;
}

.count-type p {
    font-size: 20px;
    color: #ffffffd2;
}

.count-img {
    width: 72px;
    height: 72px;
    background-size: cover;
}

.count-img.artist {
    background-image: url(../img/output_artist.svg);
}

.count-img.artwork {
    background-image: url(../img/output_artwork.svg);
}

.count-img.visitor {
    background-image: url(../img/output_visitor.svg);
}

.count-circle {
    position: relative;
    height: 270px;
}

.output-carousel {
    position: relative;
    width: 100%;
    max-width: 1836px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    padding: 0;
}

.carousel-item {
    flex: 0 0 33.33%; /* 기본적으로 3개를 표시 */
    padding: 10px;
    width: 580px;
    height: 580px;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

.carousel-item a {
    text-decoration: none;
}

.carousel-text {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    line-height: 24px;
    padding: 16px 0;
}

.output-date {
    font-size: 14px;
    color: #ffffffd2;
}

.carousel-pic {
    width: 580px;
    height: 580px;
}

.carousel-pic > img,
.carousel-pic > video {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center; 
    display: block;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 8px;
}

.next-btn {
    right: 8px;
}

.dots {
    text-align: center;
    margin-top: 100px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ffffffd2;
    border-radius: 10%;
    cursor: pointer;
}

.dot.active {
    background-color: #FF1493;
}

.end-content-area {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    position: relative;
}

.logo-end {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.logo-end-rect {
    background-image: url(../img/end-logo_rect.svg);
    background-size: cover;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-end-text {
    background-image: url(../img/end-logo_text.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 522px;
    height: auto;
    aspect-ratio: 522 / 172;
}

.come-with-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    gap: 8px;
    color: #fff;
}

.interactive-text {
    opacity: 0;
    transform: translateY(20px); /* 아래에서 올라오는 효과 */
    transition: opacity 1s ease, transform 1s ease;
}

.interactive-text.in {
    opacity: 1;
    transform: translateY(0); /* 제자리로 이동 */
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contact h2 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.address p {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    color: #ffffffd2;
}

.address strong {
    font-weight: 600;
    color: #ffffffd2;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.copy {
    font-size: 16px;
    font-weight: 600;
    color: #ffffffd2;
    text-align: center;
}

.to-left {
    transform: translateX(-200px);
}

.to-right {
    transform: translateX(200px);
}

.to-bottom {
    transform: translateY(200px);
}

.fade {
    opacity: 0;
    transition: 2s;
}

.in {
    opacity: 1;
    transform: none;
}

.br-1024 {
    display: none;
}

.br-419 {
    display: none;
}